# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
dist-electron
.env
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
backend/server.key
backend/server.crt
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
